DATABASE_URL="postgresql://postgres:postgres@localhost:5432/qr_publication?schema=public"
PORT=4000
FRONTEND_URL="https://dummy-diri-publication.vercel.app"
BACKEND_URL="https://dummy-diri-publication-backend.onrender.com"
CORS_ORIGINS="https://dummy-diri-publication.vercel.app"
